.overlay {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;

    &.active {
        display: block;
    }
}

.char-info {
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 80px;
    left: 20%;
    right: 18%;
    display: none;
    z-index: 12;

    &.active {
        display: block;
    }

    &__wrapper {
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        position: relative;
    }

    &__wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        right: 48%;
        bottom: 0;
        left: 20%;
        z-index: 2;
        background: linear-gradient(to right, transparent, white);
    }

    &__img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
    }

    &__description {
        padding-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &-table {
            font-size: 20px;
            border-spacing: 25px 3px;

            & th {
                text-align: start;
            }
        }
    }

    &__close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 0;
        top: 25px;
        right: 25px;
        background: none;
        border: none;
        cursor: pointer;

        &-icon {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .char-info {
        left: 17%;
        right: 14%;
    }
}

@media screen and (max-width: 1024px) {
    .char-info {
        left: 20%;
        right: 16%;

        &__description-table {
            font-size: 16px;
            border-spacing: 15px 3px;
        }

        &__img {
            min-width: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .char-info {
        left: 14%;
        right: 9%;

        &__description-table {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 640px) {
    .char-info {
        padding: 10px;

        &__wrapper {
            border-radius: 10px;
        }

        &__description {
            padding-top: 15px;

            &-table {
                font-size: 10px;
                border-spacing: 7px 3px;
            }
        }

        &__img {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &__close-btn {
            width: 23px;
            height: 23px;
            top: 15px;
            right: 15px;

            &-icon {
                width: 23px;
                height: 23px;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .char-info__wrapper::after {
        right: 50%;
    }
}